@using FactoryContracts.ViewModels

@model List<PlanViewModel>

@{
	ViewData["Title"] = "Plan Page";
}

<div class="text-center">
	<h1 class="display-4">Планы</h1>
</div>


<div class="text-center">
	@{
		if (Model == null)
		{
					<h3 class="display-4">Авторизируйтесь</h3>
			return;
		}

			<p>
				<a asp-action="CreatePlan">Создать план</a>
			</p>
			<table class="table">
				<thead>
					<tr>
						<th>
							Номер
						</th>
						<th>
							Название
						</th>
						<th>
							Дата начала
						</th>
						<th>
							Дата конца
						</th>
					</tr>
				</thead>
				<tbody>
				@foreach (var item in Model)
				{
							<tr>
								<td>
							@Html.DisplayFor(modelItem => item.Id)
								</td>
								<td>
							@Html.DisplayFor(modelItem => item.PlanName)
								</td>
								<td>
							@Html.DisplayFor(modelItem => item.StartDate)
								</td>
								<td>
							@Html.DisplayFor(modelItem => item.EndDate)
								</td>
							</tr>
				}
				</tbody>
			</table>
	}
</div>