@using FactoryContracts.ViewModels

@model List<LatheViewModel>

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Заказы</h1>
</div>


<div class="text-center">
	@{
		if (Model == null)
		{
					<h3 class="display-4">Авторизируйтесь</h3>
			return;
		}

			<p>
				<a asp-action="Create">Создать станок</a>
			</p>
			<table class="table">
				<thead>
					<tr>
						<th>
							Номер
						</th>
						<th>
							Название
						</th>
						<th>
							Мастер
						</th>
						<th>
							Занятость
						</th>
					</tr>
				</thead>
				<tbody>
				@foreach (var item in Model)
				{
							<tr>
								<td>
							@Html.DisplayFor(modelItem => item.Id)
								</td>
								<td>
							@Html.DisplayFor(modelItem => item.LatheName)
								</td>
								<td>
							@Html.DisplayFor(modelItem => item.MasterId)
								</td>
								<td>
							@Html.DisplayFor(modelItem => item.BusyId)
								</td>
							</tr>
				}
				</tbody>
			</table>
	}
</div>